{% extends 'myapp/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for book in book_list %}
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ book.book_image.url }}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.name }}</h5>
                            <p class="card-text">${{ book.price }}</p>
                            <a class="btn btn-primary" href="{% url 'myapp:detail' book.id %}">View details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
